<div class="mt-5">
  	<a class="btn btn-primary" href='/login' role="button">Login to Join</a> / <a class="btn btn-primary" href='/signup' role="button">Sign Up</a>
 	
</div>

<%= render "sessions/github_login" %>