<div class="mt-5">
  	<a class="btn btn-primary" href='/login' role="button">Login to Join</a> / <a class="btn btn-primary" href='/signup' role="button">Sign Up</a>
 	
</div>

<div class="mt-5">
	<%= link_to 'Sign in with GitHub', '/auth/github', class: "btn btn-primary d-block"%>
</div>