<div>
	<h2>Join A Party!</h2>
</div>

<div class="list-group">
	<% @parties.each do |f| %>
	    <a><%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %></a>
	<% end %>
</div>

<% if !logged_in? %>
  <div>
  	<a class="btn btn-primary" href='/login' role="button">Login to Join!</a>
  </div>
  <div>
  	<p>Don't have an account?</p>
  	<a class="btn btn-primary" href='/signup' role="button">Sign Up!</a>
  </div>
<% end %>