<% if logged_in? %>
	<%= render "users/greeting" %>
<% end %>

<p class="fw-bold">Check Out Upcoming Parties:</p>

<div class="list-group">
	<% @parties.each do |f| %>
		<% if logged_in? %>
			<% if f.users.exclude?(current_user) %>
				<a><%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %></a>
			<% end %>
		<% else %>
			<a><%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %></a>
		<% end %>
	<% end %>
</div>

<% if !logged_in? %>
	<%= render 'login' %>
<% end %>