<% if logged_in? && current_user.parties.count == 0 || !logged_in?%>
	<div>
		<h4><%= current_user.first_name %>, you have not joined any parties yet.</h4>
		<h2>Join A Party!</h2>
	</div>
<% end %>

	<div class="list-group">
		<% @parties.each do |f| %>
		    <a><%= link_to f.name, user_parties_path(f), class: "list-group-item list-group-item-action" %></a>
		<% end %>
	</div>

<% if !logged_in? %>
  <div>
  	<a class="btn btn-primary" href='/login' role="button">Login to Join!</a>
  </div>
  <div>
  	<p>Don't have an account?</p>
  	<a class="btn btn-primary" href='/signup' role="button">Sign Up!</a>
  </div>
<% end %>