 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<div class="container-fluid" style="width: 569px; margin:auto; padding-top: 50px;">
	<%= image_tag("party_home_image.png", width: '569') %>
	<h2 class="display-6 text-center">Come Join the Party!</h2>
</div>