 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<div class="container-fluid" style="width: 450px; margin:auto; padding-top: 50px;">
	<%= image_tag("party_home_image.png", width: '450') %>
	<p></p>
	<p class="display-6 fw-bold text-center">Come Join the Party!</p>
</div>