 <%= render "alert" %>

<div class="container-fluid" style="width: 450px; margin:auto; padding-top: 50px;">
	<%= image_tag("party_home_image.png", width: '450') %>
	<p class="display-6 fw-bold text-center mt-5">Come Join the Party!</p>
</div>