<div>
	<p>Welcome to Party! <%= @user.first_name %></p>
</div>

<% if @parties %>
	<div>
		<h3> You have joined <%= @parties.count %> <%= 'party'.pluralize(@parties.count) %>!</h3>
		<ul>
			<% @parties.each do |f| %>
			<li><%= link_to f.name, user_party_path(f) %></li>
			<% end %>
		</ul>
	</div>
<% end %>